$primary: #79BB45;
$secondary: #C8E2B3;
/*#C8E2B3*/

$danger: #F0493B;
$warning: #FF7F27;
$nav-link-color: #FFFFFF;

.header-dimas {
    background-color: #79BB45;
}

/*
.navbar {
    --bs-navbar-toggler-icon-bg: url(./Assets/nav_button.png);
}
*/

.offcanvas {
    --bs-offcanvas-width: 300px;
}

.table-stripped {
    -bs-table-accent-bg:
}

@import "bootstrap-5.0.2/scss/bootstrap";